{% extends 'base.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        {#<div style="width: 400px; height: 80px; margin: auto; top: 200px; left: 0; right: 0; position: absolute; border: thin solid #ff0; background: #ffe; color: #2594b2; font-weight: bold; z-index: 9999; padding: 10px;">#}
        <div class="flash">
            {{ flashMessage }}
            <div style="text-align: right">
                <a href="{{ path('home') }}">Retour</a>
            </div>
        </div>
    {% endfor %}
            <div class="container">

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <!--<ol class="carousel-indicators">-->
                <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
                <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
                <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
                <!--<li data-target="#carousel-example-generic" data-slide-to="3"></li>-->
                <!--<li data-target="#carousel-example-generic" data-slide-to="4"></li>-->
                <!--<li data-target="#carousel-example-generic" data-slide-to="5"></li>-->
                <!--<li data-target="#carousel-example-generic" data-slide-to="6"></li>-->
                <!--<li data-target="#carousel-example-generic" data-slide-to="7"></li>-->
                <!--<li data-target="#carousel-example-generic" data-slide-to="8"></li>-->
                <!--</ol>-->

                <!-- Wrapper for slides -->
                <div class="carousel-inner" style="margin-top: 50px">
                    <div class="item active">
                        <img src="{{ asset('bundles/cclean/images/cclean.jpg') }}" alt="CClean Netoyage">
                        <div class="">
                            <!--<h2>Vitrerie</h2>-->
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ asset('bundles/cclean/images/vitrerie.jpg') }}" alt="Vitrerie">
                        <div class="carousel-caption">
                            <h2>Vitrerie</h2>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ asset('bundles/cclean/images/menage.jpg') }}" alt="Ménage">
                        <div class="carousel-caption">
                            <h2>M&eacute;nage</h2>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ asset('bundles/cclean/images/entretien.jpg') }}" alt="Entretien bureaux">
                        <div class="carousel-caption">
                            <h2>Entretien bureaux</h2>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ asset('bundles/cclean/images/entretien2.jpg') }}" alt="Entretien copropriété">
                        <div class="carousel-caption">
                            <h2>Entretien copropri&eacute;t&eacute;</h2>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ asset('bundles/cclean/images/debaras.jpg') }}" alt="Débarras cave, grenier...">
                        <div class="carousel-caption">
                            <h2>D&eacute;barras cave, grenier...</h2>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ asset('bundles/cclean/images/hautepression.jpg') }}" alt="Nettoyage haute pression">
                        <div class="carousel-caption">
                            <h2>Nettoyage haute pression</h2>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ asset('bundles/cclean/images/moquette.jpg') }}" alt="Nettoyage tapis, moquettes">
                        <div class="carousel-caption">
                            <h2>Nettoyage tapis, moquettes</h2>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ asset('bundles/cclean/images/toiture.jpg')}}" alt="Nettoyage toitures, facades">
                        <div class="carousel-caption">
                            <h2>Nettoyage toitures, facades</h2>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ asset('bundles/cclean/images/tombe.jpg') }}" alt="Nettoyage pierres tombales">
                        <div class="carousel-caption">
                            <h2>Nettoyage pierres tombales</h2>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>

        </div>
    {% block testimonial %}
        {{ render(controller('CCleanBundle:Testimonial:index')) }}
    {% endblock %}
{% endblock %}
