<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-language" content="fr" />
        <title>CClean Nettoyage</title>
        <meta name="keywords" content="nettoyage, service, entretien, particulers, copropriétés, entreprises, vitrerie, ménage, entretien bureaux, entretien copropriétés, débarras cave, débarras grenier, haute pression, moquettes, tapis, toitures, facades, pierres tombales" />
        <meta name="robots" content="INDEX, FOLLOW"/>
        <meta name="description" content="Découvrez notre offre complète de services pour l'entretien et le nettoyage destinée aux particuliers, copropriétés et entreprises..." />
        <meta name="identifier-url" content="http://www.cclean-nettoyage.fr" />
        <meta name="author" content="Store-Factory" />
        <meta name="copyright" content="http://www.cclean-nettoyage.fr" />
        <meta http-equiv="pragma" content="no-cache" />
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/cclean/images/favicon/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('bundles/cclean/images/favicon/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/cclean/images/favicon/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/cclean/images/favicon/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/cclean/images/favicon/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/cclean/images/favicon/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/cclean/images/favicon/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/cclean/images/favicon/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/cclean/images/favicon/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('bundles/cclean/images/favicon/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/cclean/images/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('bundles/cclean/images/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/cclean/images/favicon-16x16.png') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/cclean/images/favicon/favicon.ico') }}" />
        <meta name="theme-color" content="#ffffff">
        <title>{% block title %}CClean Nettoyage{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
            <link rel="stylesheet" href="http://bootsnipp.com/dist/bootsnipp.min.css?ver=7d23ff901039aef6293954d33d23c066">
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/cclean/css/cclean.css') }}" media="screen" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/cclean/css/slider.css') }}" media="screen" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/cclean/css/testimonial.css') }}" media="screen" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/cclean/css/register.css') }}" media="screen" />
        {% endblock %}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js"></script>
        <![endif]-->
    </head>
    <body>
    <script src="{{ asset('bundles/cclean/js/BSAcpc.js') }}" async></script>
    <section class="section-white">
        <nav class="navbar navbar-fixed-top navbar-bootsnipp animate" role="navigation" style="z-index: 9999999; border-color: #2594b2;">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div  style="display: inline-block; z-index: -1" >
                        <a class="" href="{{ path('home') }}"><img src="{{ asset('bundles/cclean/images/entete.jpg') }}" alt="CClean Nettoyage" /></a>
                    </div>
                </div>
                <script src="{{ asset('bundles/cclean/js/BSAcpc.js') }}" async></script>
                <div class="bsa-apiads hidden-sm hidden-xs"></div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-relative-bottom" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle animate" data-toggle="dropdown">
                                <span>Services</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="">
                                    <a href="{{ path('home', { 'data-slide-to': 1 }) }}" id="1" style="font-size: 15px" data-target="#carousel-example-generic" data-slide-to="1">Vitrerie
                                        <span class="pull-right glyphicon  glyphicon-share-alt"></span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{{ path('home') }}" style="font-size: 15px" data-target="#carousel-example-generic" data-slide-to="2">M&eacute;nage
                                        <span class="pull-right glyphicon glyphicon-share-alt"></span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{{ path('home') }}" style="font-size: 15px" data-target="#carousel-example-generic" data-slide-to="3">Entretien bureaux
                                        <span class="pull-right glyphicon glyphicon-share-alt"></span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{{ path('home') }}" style="font-size: 15px" data-target="#carousel-example-generic" data-slide-to="4">Entretien copropri&eacute;t&eacute;
                                        <span class="pull-right glyphicon glyphicon-share-alt"></span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{{ path('home') }}" style="font-size: 15px" data-target="#carousel-example-generic" data-slide-to="5">D&eacute;barras cave, grenier ...
                                        <span class="pull-right glyphicon glyphicon-share-alt"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle animate" data-toggle="dropdown">
                                Nettoyage
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="">
                                    <a href="{{ path('home') }}" style="font-size: 15px" data-target="#carousel-example-generic" data-slide-to="6">Haute pression
                                        <span class="pull-right glyphicon glyphicon-share-alt"></span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{{ path('home') }}" style="font-size: 15px" data-target="#carousel-example-generic" data-slide-to="7">Tapis, moquettes
                                        <span class="pull-right glyphicon glyphicon-share-alt"></span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{{ path('home') }}" style="font-size: 15px" data-target="#carousel-example-generic" data-slide-to="8">Toitures, facades
                                        <span class="pull-right glyphicon glyphicon-share-alt"></span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{{ path('home') }}" style="font-size: 15px" data-target="#carousel-example-generic" data-slide-to="9">Pierres tombales
                                        <span class="pull-right glyphicon glyphicon-share-alt"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li class="dropdown">
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('testimonial_new') }}" class="animate">Donnez votre avis</a>
                            {% else %}
                                <a href="{{ path('register') }}" class="animate">Donnez votre avis</a>
                            {% endif %}
                        </li>

                        <li class="dropdown">
                            <a href="{{ path('contact') }}" class="animate">Contactez-nous</a>
                        </li>

                        <li class="dropdown">
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('logout') }}" title="Déconnexion"><i class="glyphicon glyphicon-log-out"></i></a>
                            {% endif %}
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </section>
    {#<div id="average_bar" class="avWidgetImage" style="position: fixed; z-index: 5; float: left; margin-top: 80%; margin-left: 10%">#}
        {#<img style="position: absolute; z-index: 10;" src="{{ asset('bundles/cclean/images/blue_bar.jpg') }}" width="80px" height="40px">#}
        {#<img style="position: absolute; z-index: 15;" src="{{ asset('bundles/cclean/images/average.png') }}">#}
    {#</div>#}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block javascripts %}
            <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
            <script src="http://bootsnipp.com/dist/scripts.min.js"></script>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script type="text/javascript">
                $(function(){
                    $('iframe.new-preview').each(function()
                    {
                        previewportWidth = $(this).parent().innerWidth()-15;
                        factor = previewportWidth/1200;
                        console.log(factor);
                        $(this).css({
                            'height': '800px',
                            'width': '1200px',
                            '-ms-zoom': factor,
                            '-ms-transform': 'scale('+factor+')',
                            'transform': 'scale('+factor+')',
                            '-moz-transform': 'scale('+factor+')',
                            '-moz-transform-origin': '0 0',
                            '-o-transform': 'scale('+factor+')',
                            '-o-transform-origin': '0 0',
                            '-webkit-transform': 'scale('+factor+')',
                            '-webkit-transform-origin': '0 0'
                        });
                        $(this).parent().css('height',$(this).parent().innerWidth()*.75);
                    });
                    $('iframe.snippet-preview').each(function()
                    {
                        previewportWidth = $(this).parent().parent().innerWidth()-30;
                        $(this).zoomer({ width: previewportWidth, height: $(this).parent().innerWidth()*.75, zoom: .5, message : '' ,messageURL : $(this).attr('data-url') })
                        $(this).zoomer('refresh');
                    });
                });
            </script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js"></script>
            <script type="text/javascript">
                (function($) {
                    window.addEventListener('message', receiveMessage, false);
                    function receiveMessage(evt)
                    {
                        if (evt.origin !== 'http://bootsnipp.com') return;

                        if ((evt.data != undefined) && (evt.data) && (typeof evt.data === "number"))
                            if(evt.data >= 500) {
//                $('#playground-container').css('height', evt.data+30+'px');
                            }
                    }

                    $('#theme_chooser').change(function(){
                        whichCSS = $(this).val();
                        document.getElementById('snippet-preview').contentWindow.changeCSS(whichCSS);
                    });



                })(jQuery);
            </script>
        {% endblock %}
    </body>
</html>
