{% extends 'base.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        {#<div style="width: 400px; height: 80px; margin: auto; top: 200px; left: 0; right: 0; position: absolute; border: thin solid #ff0; background: #ffe; color: #2594b2; font-weight: bold; z-index: 9999; padding: 10px;">#}
        <div class="flash">
            {{ flashMessage }}
            <div style="text-align: right">
                <a href="{{ path('home') }}">Retour</a>
            </div>
        </div>
    {% endfor %}
    <div style="padding-top:30px; width: 370px; text-align: center; margin: 0 auto; margin-bottom: -3%">
        <div class="row">
            <div class="col-sm-12 testimonial-title">
                Inscrivez-vous avec
                <br />
                <a href="/login-oauth/check-facebook">
                    <img src="{{ asset('bundles/cclean/images/facebook-ico.png') }}" />
                </a>
                <a href="/login-oauth/check-google">
                    <img src="{{ asset('bundles/cclean/images/google-ico.png') }}" />
                </a>
                <a href="/login-oauth/check-twitter">
                    <img src="{{ asset('bundles/cclean/images/twitter-ico.png') }}" />
                </a>
                <br/>
                ou en remplissant ce formulaire...
            </div>
            <div style="text-align: right">
                <a href="{{ path('login') }}">Déjà inscrit ? Connectez-vous...</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row main">
            <div class="main-login main-center">
                <form action="{{ path('register') }}" method="post" {{ form_enctype(form) }}>

                    {{ form_errors(form) }}
                    {{ form_widget(form._token) }}

                    <div class="form-group">
                        <div class="cols-sm-10">
                            <label for="name" class="cols-sm-2 control-label" style="display: inline">{{ form_label(form.name) }}</label>
                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                {{ form_widget(form.name) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="cols-sm-10">
                            <label for="surname" class="cols-sm-2 control-label" style="display: inline">{{ form_label(form.surname) }}</label>
                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                {{ form_widget(form.surname) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="cols-sm-10">
                            <label for="email" class="cols-sm-2 control-label" style="display: inline">{{ form_label(form.mail) }}</label>
                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                {{ form_widget(form.mail) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="cols-sm-10">
                            <label for="email" class="cols-sm-2 control-label" style="display: inline">{{ form_label(form.company) }}</label>
                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                {{ form_widget(form.company) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="cols-sm-10">
                            <label for="name" class="cols-sm-2 control-label" style="display: inline">{{ form_label(form.username) }}</label>
                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                {{ form_widget(form.username) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="cols-sm-10">
                            <label for="password" class="cols-sm-2 control-label" style="display: inline">{{ form_label(form.password) }}</label>
                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                {{ form_row(form.password.first) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="cols-sm-10">
                            <label for="password" class="cols-sm-2 control-label" style="display: inline">Confirmez votre mot de passe</label>
                            <div class="input-group" style="margin-top: 15px">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                {{ form_row(form.password.second) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <input type="submit" id="button" value="S'enregistrer" class="btn btn-primary btn-lg btn-block submit-button">
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}
