{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row main cols-sm-12">
            <div class="main-login main-center">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-notice">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                <h5>Envoyez-nous un message ou une demande de devis :</h5>
                <form action="{{ path('contact') }}" method="post" {{ form_enctype(form) }}>

                    {{ form_errors(form) }}
                    {{ form_widget(form._token) }}

                    <div class="form-group">
                        <div class="cols-sm-10">
                            <label for="name" class="cols-sm-2 control-label" style="display: inline">{{ form_label(form.name) }}</label>
                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                {{ form_widget(form.name) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label" style="display: inline">{{ form_label(form.surname) }}</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                {{ form_widget(form.surname) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label" style="display: inline">{{ form_label(form.mail) }}</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                {{ form_widget(form.mail) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label" style="display: inline">{{ form_label(form.subject) }}</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                {{ form_widget(form.subject) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="body" class="cols-sm-2 control-label" style="display: inline">{{ form_label(form.body) }}</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                {{ form_widget(form.body) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <input type="submit" id="button" value="Envoyer" class="btn btn-primary btn-lg btn-block submit-button">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}