{% extends 'base.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        {#<div style="width: 400px; height: 80px; margin: auto; top: 200px; left: 0; right: 0; position: absolute; border: thin solid #ff0; background: #ffe; color: #2594b2; font-weight: bold; z-index: 9999; padding: 10px;">#}
        <div class="flash">
            {{ flashMessage }}
            <div style="text-align: right">
                <a href="{{ path('home') }}">Retour</a>
            </div>
        </div>
    {% endfor %}
    <div style="padding-top:30px; width: 100%; text-align: center; margin-bottom: -3%">
        <div class="row">
            <div class="col-sm-12 testimonial-title">
                Contactez-nous sur
                <br />
                <a href="https://www.facebook.com/G%C3%A9rant-Cclean-Nettoyage-804562136276038" target="_blank">
                    <img src="{{ asset('bundles/cclean/images/facebook.png') }}" />
                </a>
                <br/>
                ou envoyez-nous un message...
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row main cols-sm-12">
            <div class="main-login main-center">
                <form action="{{ path('contact') }}" method="post" {{ form_enctype(form) }}>

                    {{ form_errors(form) }}
                    {{ form_widget(form._token) }}
                    <div class="form-group">
                        <div class="cols-sm-10">
                            <label for="name" class="cols-sm-2 control-label" style="display: inline">{{ form_label(form.name) }}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                {{ form_widget(form.name) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="surname" class="cols-sm-2 control-label" style="display: inline">{{ form_label(form.surname) }}</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                {{ form_widget(form.surname) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mail" class="cols-sm-2 control-label" style="display: inline">{{ form_label(form.mail) }}</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                {{ form_widget(form.mail) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tel" class="cols-sm-2 control-label" style="display: inline">{{ form_label(form.tel) }}</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                {{ form_widget(form.tel) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subject" class="cols-sm-2 control-label" style="display: inline">{{ form_label(form.subject) }}</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                {{ form_widget(form.subject) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="body" class="cols-sm-2 control-label" style="display: inline">{{ form_label(form.body) }}</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                {{ form_widget(form.body) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <input type="submit" id="button" value="Envoyer" class="btn btn-primary btn-lg btn-block submit-button">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}