<div class="container" style="padding-top:30px">
    <div class="row">
        <div class="col-sm-12 testimonial-title">
            Consultez les avis de nos clients...
        </div>

        {% for testimonial in testimonials %}
            {% if testimonial.note == 0 %}
                {% set color = 'testimonial-danger' %}
            {% elseif testimonial.note == 1 %}
                {% set color = 'testimonial-warning' %}
            {% elseif testimonial.note == 2 %}
                {% set color = 'testimonial-default' %}
            {% elseif testimonial.note == 3 %}
                {% set color = 'testimonial-info' %}
            {% elseif testimonial.note == 4 %}
                {% set color = 'testimonial-primary' %}
            {% elseif testimonial.note == 5 %}
                {% set color = 'testimonial-success' %}
            {% endif %}
        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial {{ color }}">
                <div class="testimonial-section">
                    {{ testimonial.comment }}
                </div>
                <div style="padding-top: 15px">
                    {% if testimonial.note == 0 %}
                    <img class="" src="{{ asset('bundles/cclean/images/zero.png') }}" />
                    {% else %}
                        {% for i in 1..testimonial.note %}
                        <img class="" src="{{ asset('bundles/cclean/images/note.png') }}" />
                        {% endfor %}
                    {% endif %}
                    <div class="testimonial-writer">
                        {%  if testimonial.name  %}
                        <div class="testimonial-writer-name">{{ testimonial.surname }} {{ testimonial.name }}</div>
                        {% else %}
                        <div class="testimonial-writer-name">{{ testimonial.username }}</div>
                        {% endif %}
                        {%  if testimonial.company %}
                            {#{{ app.user.mail }}#}
                            {#&#123;&#35;{% if app.user.email %}&#35;&#125;#}
                                {#&#123;&#35;set mail = app.user.mail&#35;&#125;#}
                            {#&#123;&#35;{% else %}&#35;&#125;#}
                                {#&#123;&#35;set mail = '#'&#35;&#125;#}
                            {#&#123;&#35;{% endif %}&#35;&#125;#}
                            <a href="}#" class="testimonial-writer-company">{{ testimonial.company }}</a>
                        {%  else %}
                        <a href="#" class="testimonial-writer-company">Particulier</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
