{% extends 'base.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash">
            {{ flashMessage }}
            <div style="text-align: right">
                <a href="{{ path('home') }}">Retour</a>
            </div>
        </div>
    {% endfor %}

    {% if testimonial.note == 0 %}
        {% set color = 'testimonial-danger' %}
    {% elseif testimonial.note == 1 %}
        {% set color = 'testimonial-warning' %}
    {% elseif testimonial.note == 2 %}
        {% set color = 'testimonial-default' %}
    {% elseif testimonial.note == 3 %}
        {% set color = 'testimonial-info' %}
    {% elseif testimonial.note == 4 %}
        {% set color = 'testimonial-primary' %}
    {% elseif testimonial.note == 5 %}
        {% set color = 'testimonial-success' %}
    {% endif %}

    <div class="container" style="padding-top:30px">
        <div class="row">
            <div class="col-sm-12 testimonial-title">
                Pré-visualiser votre avis...
            </div>
            <div class="col-sm-12">
                <div id="tb-testimonial" class="testimonial {{ color }}">
                    <div class="testimonial-section">
                        {{ testimonial.comment }}
                    </div>
                    <div class="testimonial-desc">
                        {% if testimonial.note == 0 %}
                            <img class="" src="{{ asset('bundles/cclean/images/zero.png') }}" />
                        {% else %}
                            {% for i in 1..testimonial.note %}
                                <img class="" src="{{ asset('bundles/cclean/images/note.png') }}" />
                            {% endfor %}
                        {% endif %}
                        <div class="testimonial-writer">
                            {%  if app.user.name  %}
                                <div class="testimonial-writer-name">{{ app.user.surname }} {{ app.user.name }}</div>
                            {% else %}
                                <div class="testimonial-writer-name">{{ app.user.username }}</div>
                            {% endif %}
                            {%  if app.user.company %}
                                <a href="#" class="testimonial-writer-company">{{ app.user.company }}</a>
                            {%  else %}
                                <a href="#" class="testimonial-writer-company">Particulier</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <span class="navbar-right">
                        &nbsp;
                        <a href="{{ path('testimonial_publish', { 'id': testimonial.id }) }}" class="btn btn-success">Valider</a>
                    </span>
                    <span class="navbar-right">
                        &nbsp;
                        <a href="{{ path('testimonial_edit', { 'id': testimonial.id }) }}" class="btn btn-primary">Editer</a>
                    </span>
                    <span class="navbar-right">
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Supprimer" class="btn btn-danger">
                        {{ form_end(delete_form) }}
                    </span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
